# Autotools
*.pc
aclocal.m4
autom4te.cache/
build/
config.log
config.status
configure
m4/
Makefile
Makefile.in

# C++ builds
*.a
*.la
*.lo
*.o
*.out
*.so

# Data files
*.hdt
*.hdt.index
*.nq
*.nq.gz
*.nt
*.nt.gz
*.rdf
*.rdf.gz
*.trig
*.trig.gz
*.ttl
*.ttl.gz

# Project-specific executables
hdt2rdf
hdtInfo
hdtSearch
libhdt/examples/*
rdf2hdt
replaceHeader

% libtool
libcds/.libs
libhdt/.libs
libhdt/tools/.libs/
libtool

# macOS backup files?
.DS_Store

# Temporary files
*~
*.log
*.swp #Vim



# Unknown patterns
#
# Please document these in case you know what they mean.
#
# Please remove these in case you know them to be superfluous.
#
# (Notice that you can add Git ignore patterns that only apply to your
# local installation / that are not generic enough to be used by
# others in `.git/info/exclude'.)
**/examples/*
**/tests/*
!**/examples/*.cpp
!**/tests/*.cpp
*.pro.user
.deps
.deps/
.dirstamp
delete_me
libcds-v1.0.12/includes
macx
README
stamp-h1
unix
win32
