# Others
*~
.ycm_extra_conf.py
# vim
*.swp

# C++ builds
*.o
*.so
*.a
*.out
*.lo
*.la
.dirstamp

# Wasm files
*.wasm

# Executables
hdt2rdf
hdtInfo
hdtSearch
rdf2hdt
replaceHeader
libhdt/examples/*
libhdt/.libs
libcds/.libs

# Autotools 
m4/
*.pc
build/
autom4te.cache/
config.log
config.status
configure
Makefile
Makefile.in
libtool
aclocal.m4

.DS_Store
*.pro.user
*.o
unix
macx
win32
delete_me
Makefile
README
autom4te.cache/
config.h
*~
config.log
config.status
stamp-h1
.deps/

*.hdt
*.hdt.index
*.nq
*.nt
*.rdf
*.trig
*.ttl
*.a
**/examples/*
**/tests/*
libcds-v1.0.12/includes
!**/examples/*.cpp
!**/tests/*.cpp
*.o
*.lo
.deps
