# Properties file for HDT

# dataset location
dataset = ../examples/test.n3
# output name
output = ../examples/test

# HEADER properties (...)

# HDT application ('publication', 'exchange', 'endpoint', 'selfindex' are currently supported)
application = exchange
# graph parsing ('spo', 'sop', 'pso', 'pos', 'osp', 'ops')
parsing = spo
# id mapping ('single','shared')
mapping = single
# cluster ('yes','no')
cluster = no
# dictionary separator
dict_separator = 2
# dictionary ordering ('lexicographic')
dict_ordering = lexicographic
# dictionary encoding ('plain', 'indexed')
dict_encoding = plain
# dictionary compression ('ppm','lzma','none')
dict_compression = ppm
# triples encoding ('plain', 'compact', 'bitmap','k2tree')
triples_encoding = bitmap
# triples compression ('huffman','none')
triples_compression = huffman

# optional parameters
# -------------------
# redimension of hash table
#hash_size = 70000000
# gnuplot drawing in path gnuplot_path
#gnuplot_path = /home/migumar2/gnuplot/linkedin/nocluster
